<div class="container">
<br>


<div >
    <br><h1 class="text-center">Alumnos Registrados</h1>
    <br>
    <table class="table">
    	<thead>
    		<tr>
    			<th>Identidad</th>
    			<th>Nombre Completo</th>
    			<th>Domicilio</th>
    			<th>Telefonos</th>
    			<th>Sexo</th>
    			<th>Fecha de Nacimiento</th>
    			<th>Trabaja Actualmente</th>
    			<th>Ocupación u Oficio</th>
    			<th>Matriculado</th>
    		</tr>
    	</thead>
    	<tbody>
    	
    		<tr>
    			
    				<td></td>
    				<td></td>
    				<td></td>
    				<td></td>
    				<td></td>
    				<td></td>
    				<td></td>
    				
                         <td>No ha iniciado sesión</td>
                    <td></td>  
    		</tr>
    	
    	</tbody>
    </table>
    <strong><p>Número de Alumnos: </p></strong>
</div>


</div>
    