<div class="container">
    <div class="text-center">
    	<br><h1>Bienvenido {{uausuario}}</h1>
    </div>
        <div class="row">
            <div style="margin-left: 150px" class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card1">
                    <div class="panel-body text-center">
                                        <h4>
                                           <span class="fa fa-graduation-cap fa-3x"></span>
                                           </h4>
                                        <h3>{{ alum }}</h3>
        
                                      </div>
                    <div class="card1-block text-center">
                        <h4 class="card1-title mt-3">Alumnos Registrados</h4>
                    </div>
                    <div class="card1-footer">
                        <a routerLink="/alumnos" class="btn btn-info float-right btn-sm">Ver Más</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card1">
                    <div class="panel-body text-center">
                                        <h4>
                                           <span class="fa fa-child fa-3x"></span>
                                           </h4>
                                        <h3>{{ alum }}</h3>
        
                                      </div>
                    <div class="card1-block text-center">
                        <h4 class="card1-title mt-3">Alumnos Matriculados</h4>
                    </div>
                    <div class="card1-footer">
                        <a class="btn btn-info float-right btn-sm">Ver Más</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card1">
                    <div class="panel-body text-center">
                                        <h4>
                                           <span class="fa fa-sitemap fa-3x"></span>
                                           </h4>
                                        <h3>{{ alum }}</h3>
        
                                      </div>
                    <div class="card1-block text-center">
                        <h4 class="card1-title mt-3">Grados</h4>
                    </div>
                    <div class="card1-footer">
                        <a class="btn btn-info float-right btn-sm">Ver Más</a>
                    </div>
                </div>
            </div>
            
    	</div>

    	<div class="row">

    		<div style="margin-left: 150px"  class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card1">
                    <div class="panel-body text-center">
                                        <h4>
                                           <span class="fa fa-users fa-3x"></span>
                                           </h4>
                                        <h3>{{ alum }}</h3>
        
                                      </div>
                    <div class="card1-block text-center">
                        <h4 class="card1-title mt-3">Matricular</h4>
                    </div>
                    <div class="card1-footer">
                        <a class="btn btn-info float-right btn-sm">Ver Más</a>
                    </div>
                </div>
            </div>
			<div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card1">
                    <div class="panel-body text-center">
                                        <h4>
                                           <span class="fa fa-file-pdf-o fa-3x"></span>
                                           </h4>
                                        <h3>{{ alum }}</h3>
        
                                      </div>
                    <div class="card1-block text-center">
                        <h4 class="card1-title mt-3">Reportes</h4>
                    </div>
                    <div class="card1-footer">
                        <a class="btn btn-info float-right btn-sm">Ver Más</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card1">
                    <div class="panel-body text-center">
                                        <h4>
                                           <span class="fa fa-pie-chart fa-3x"></span>
                                           </h4>
                                        <h3>{{ alum }}</h3>
        
                                      </div>
                    <div class="card1-block text-center">
                        <h4 class="card1-title mt-3">Estadisticas</h4>
                    </div>
                    <div class="card1-footer">
                        <a class="btn btn-info float-right btn-sm">Ver Más</a>
                    </div>
                </div>
            </div>

    	</div>

</div>